#div-input {
    
    margin-bottom: 0px;
    padding: 20px;
}

.li-message {
    margin: 20px;
}

.span-message{
    margin:auto;
    font-size:26px;
    height:100%;
}

.switch-origin{
    margin-top:20px;
}

.link-share{
    margin:5px;
}

#ul-log{
    min-height: 500px;
}

footer{
}

a{
    color: #00838f
}